{{ define "main" }}
<article>
  <ol role="list">
  {{ $pages := where site.RegularPages "Section" "in" site.MainSections }}
  {{ $paginator := .Paginate ($pages) }}
  {{ range $paginator.Pages }}
  <li>
    <article class="post-preview">
    <h2 class="post-preview-title">
      <a class="post-preview-link" href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
    </h2>
    {{- $dateMachine := .Date | time.Format "2006-01-02" }}
    {{- $dateHuman := .Date | time.Format ":date_medium" }}
    <time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>
    </article>
  </li>
  {{ end }}
  </ol>
</article>
{{ end }}
