{{ define "main" }}
<article>
  <header>
    <h1 class="post-title">{{ .Title }}</h1>
    <div class="post-meta">
      {{ $dateMachine := .Date | time.Format "2006-01-02" }}
      {{ $dateHuman := .Date | time.Format ":date_long" }}
      <time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>
      {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
    </div>
  </header>

  {{- if .Param "toc" }}
  {{- $headers := findRE "<h[1-2].*?>(.|\n])+?</h[1-2]>" .Content -}}
  {{- $has_headers := ge (len $headers) 1 -}}
  {{- if $has_headers }}
  <details id="toc" open>
    <summary>Table of Contents</summary>
    {{ .TableOfContents }}
  </details>
  {{ end }}
  {{ end }}

  <div class="markdown">
    {{ .Content }}
  </div>
</article>
{{ end }}
