html {
  scrollbar-gutter: stable;
}

:where(ul, ol):where([role="list"]) {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  padding-block-start: var(--size-spacing-5);
  padding-block-end: var(--size-spacing-1);
  padding-inline: var(--size-spacing-1);
  margin: 0px;
}

main, body > header,
body > footer {
  display: block;
  max-width: 620px;
  width: 100%;
  margin-inline: auto;
}

body > header {
  display: flex;
  flex-direction: column;
  padding-block-start: var(--size-spacing-4);
}

body > footer {
  padding-block-start: var(--size-spacing-10);
}

.avatar {
  border-radius: 100%;
}

article > [role="list"] {
  display: flex;
  flex-direction: column;
}

.post-preview {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.post-preview h2 {
  margin-block: 0px;
  max-inline-size: 20ch;
}

.post-preview-link {
  font-size: 18px;
  text-decoration: none;
}
