html {
  scrollbar-gutter: stable;
}

.emoji {
  font-family: Apple Color Emoji, Segoe UI Emoji, NotoColorEmoji, Segoe UI Symbol, Android Emoji, EmojiSymbols;
}

:where(ul, ol):where([role="list"]) {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  padding-block-start: var(--size-spacing-5);
  padding-block-end: var(--size-spacing-1);
  padding-inline: var(--size-spacing-1);
  margin: 0px;
}

main, body > header,
body > footer {
  display: block;
  max-width: 620px;
  width: 100%;
  margin-inline: auto;
}

body > header {
  display: flex;
  flex-direction: column;
  gap: var(--size-spacing-3);
  margin-block-start: var(--size-spacing-5);
}

body > header > h1 {
  margin-block: 0px;
}

main {
  margin-block: var(--size-spacing-5);
}

body > footer {
  margin-block-start: var(--size-spacing-8);
}

.avatar {
  border-radius: 100%;
}

article > [role="list"] {
  display: flex;
  flex-direction: column;
}

.post-preview {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.post-preview h2 {
  margin-block: 0px;
  max-inline-size: 20ch;
}

.post-preview-link {
  font-size: 18px;
  text-decoration: none;
}

.post-title {
  margin-block-start: 0px;
  margin-block-end: var(--size-spacing--2);
}

.post-meta,
.post-meta [role="list"] {
  display: flex;
  flex-wrap: wrap;
  gap: var(--size-spacing--1);
}

.post-meta [aria-label="Tags"] a::before {
  content: "#";
  user-select: none;
}

[role=list]:has(.post-view) {
  gap: var(--size-spacing-3);
}

.post-view p {
  margin-block-start: var(--size-spacing--1);
}

.markdown pre code {
  display: grid;
  margin-block: auto;
  margin-inline: 0px;
  padding: 10px;
  overflow-x: auto;
  word-break: break-all;
}

.markdown .highlight pre {
  margin: 0px;
}

.term-title {
  text-transform: capitalize;
}

.terms {
  display: flex;
  flex-wrap: wrap;
  gap: var(--size-spacing-0);
}

.terms-item {
  background-color: var(--accent-bg);
  display: block;
  padding: 3px 10px;
  border-radius: 6px;
}

#toc {
  margin-block-start: var(--size-spacing-4);
}

.pagination {
  display: inline-flex;
  gap: var(--size-spacing-0);
}

:target {
  scroll-margin-top: 2rem;
}

:where(a, button, input, textarea, summary) {
  --outline-size: max(2px, 0.08em);
  --outline-style: solid;
  --outline-color: currentColor;
}

:where(a, button, input, textarea, summary):focus {
  outline: var(--outline-size) var(--outline-style) var(--outline-color);
  outline-offset: var(--outline-offset, var(--outline-size));
}

:where(a, button, input, textarea, summary):focus-visible {
  outline: var(--outline-size) var(--outline-style) var(--outline-color);
  outline-offset: var(--outline-offset, var(--outline-size));
}

:where(a, button, input, textarea, summary):focus:not(:focus-visible) {
  outline: none;
}
